<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button class="join">회원가입</button>
  <button class="login">로그인</button>
  <button class="verify">verify</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const $join = document.querySelector(".join");
  const $login = document.querySelector(".login");
  const $verify = document.querySelector(".verify");
  
  $verify.addEventListener("click", async function(e) {
    try {
      const req= await axios.post("/graphql", {
        email: "admin@admin.com",
      }, {
        headers: {
          Authorization: document.cookie,
        },
      });
    } catch (err) {   
      console.error(err);
    }
  });
  $login.addEventListener("click", async function(e) {
    const query = {
      query: `
        {
          login(email: "admin@admin.com", password: "password") {
            token
            email
          }
        }
      `
    }
    try { 
      const req = await axios.post("/graphql", query);
      const token = req.data.data.login.token;
      console.log(token);
      document.cookie = token;
    } catch (err) {
      console.error(err);
    }
  });
  $join.addEventListener("click", async function(e) {
    const query = {
      query: `
        mutation {
          createUser(userInput: { email: "admin2@admin.com", name: "관리자2", password: "password" }) {
            email
            name
          }
        }
      `
    }
    try {
      const req = await axios.post("/graphql", query);
      console.log(req.data);
    } catch (err) {
      console.error(err);
    }
  });
</script>
</body>
</html>